<html>
  <head>
    <title>Log in page</title>
    <script src="/static/scripts/lib/jquery.min.js"></script>
    <script src="/static/scripts/account.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/styles/styles.css"/>
  </head>
  <body>

    <h1>Log in</h1>
      Username: <br/>
      <input id="enter-username" type="text" name="username"/> <br/>
      Password: <br/>
      <input id="enter-password" type="password" name="password"/> <br/>
      <button id="login" type="submit">Log in</button>
  </body>

  <div> May take a few seconds to log in </div>
</html>
